<!-- dashboard -->
<div class="container">
  <h1>Welcome, <%=@user.username.capitalize%></h1>

  <h2>Created Surveys</h2>
    <%@user.created_surveys.each do |survey| %>
      <a href="/surveys/<%=survey.id%>"><%=survey.title%></a><br>
    <%end%>

  <h2>Surveys Participated In</h2>
  <%@user.voted_on_surveys.each do |survey| %>
    <a href="/surveys/<%=survey.id%>"><%=survey.title%></a><br>
  <%end%>

  <br><br><br>


</div>
