<!-- dashboard -->
<div class="container">
  <h2><p>Welcome, <%=@user.username.capitalize%></p></h2>

  <div id="dash_buttons">

    <div>
      <a class="small_button" href = "surveys/new">CREATE SURVEY</a>
    <div/>

    <div>
      <form  action="/logout" method="get">
        <input class="small_button" type="submit" value="LOGOUT">
      </form>
    </div>

  </div>

  <h2>Created Surveys</h2>
    <%@user.created_surveys.each do |survey| %>
      <a href="/surveys/<%=survey.id%>"><%=survey.title%></a><br>
    <%end%>

  <h2>Surveys Participated In</h2>
  <%@user.voted_on_surveys.each do |survey| %>
    <a href="/surveys/<%=survey.id%>"><%=survey.title%></a><br>
  <%end%>

  <br><br><br>


</div>
