<!-- dashboard -->
<div class="container">
  <p>logged in as <%=@user.username%></p>
  <a href = "surveys/new">CREATE SURVEY</a>
  <p>created surveys</p>
  <ul>
    <%@user.created_surveys.each do |survey| %>
      <li><a href="/surveys/<%=survey.id%>"><%=survey.title%></a></li>
      <%end%>
    </ul>
  <p>surveys participated in</p>
  <%@user.voted_on_surveys.each do |survey| %>
    <li><a href="/surveys/<%=survey.id%>"><%=survey.title%></a></li>
    <%end%>
  </ul>
</div>
